@using E_Market.Core.Application.ViewModels.Anuncios;
@using E_Market.Core.Application.ViewModels.Categories;
@using E_Market.Core.Application.ViewModels.Fotos
@model AnuncioViewModel
@{
  
}
<h1>@ViewBag.User.Name</h1>
<h1>@ViewBag.User.Email</h1>
<h1>@ViewBag.User.Phone</h1>
<h1>@Model.Name</h1>
<h1>@Model.Description </h1>
<h1>@Model.Price</h1>

@foreach (FotoViewModel item in Model.fotos)
                    {
 <img class="bd-placeholder-img card-img-top img-product-size" src="@item.ImageUrl"/>
                    }