@using E_Market.Core.Application.ViewModels.Anuncios;
@using E_Market.Core.Application.ViewModels.Categories;
@model FilterAnunciotViewModel
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="container-fluid">

    <div class="row">
        <div class="col-3">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-light">
                    <h4>Categorias</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Buscar</h4>

                    <form method="post" asp-controller="Home" asp-action="Index">

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" value="null" type="radio" name="CategoryId" id="category-all" />
                                <label class="form-check-label" for="category-all">Todas</label>
                            </div>
                        </div>
                       
                           @foreach (CategoryViewModel category in ViewBag.Categories){
                            <div class="mb-3">
                                <div class="form-check">
                                     <input class="form-check-input"  value="@category.Id" type="radio" name="CategoryId" id="category-@category.Id" />
                                    <label class="form-check-label">@category.Name</label>
                                </div>
                            </div>
                        }

                        <button type="submit" class="btn btn-primary">Filtrar</button>

                    </form>
                    

                </div>
            </div>
        </div>
        <div class="col-9 cards-wrapper">
            <div class="row">

                @if (ViewBag.Anuncios == null || ViewBag.Anuncios.Count == 0)
                {
                    <h2>No se han encontrado anuncios</h2>
                }
                else
                {
                    @foreach (AnuncioViewModel item in ViewBag.Anuncios)
                    {
                        <div class="col-4">
                            <div class="card-group">
                                 <a asp-controller="Home" asp-action="Detalleanuncio" asp-route-id="@item.Id" class="text-reset text-decoration-none">
                            <div class="card shadow-sm card zoom">
                                <img class="bd-placeholder-img card-img-top img-product-size" src="@item.ImageUrl" width="400" height="200"/>
                                <div class="card-body ">
                                    <h5 class="card-title" >@item.Name</h5>

                                    <div >
                                    <p class="card-text">@item.Description</p>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="fw-bold">@item.CategoryName</span>
                                        <small class="fw-bold fs-6">$@item.Price</small>
                                    </div>
                                </div>
                                
                            </div>
                             </a>
                             </div>
                            
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</div>
